@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes progress {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

.animate-progress {
  animation-name: progress;
  animation-fill-mode: forwards;
}